.divTableBody {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  width: 400px;
  height: 100%;
  border: 1px solid black;
}

.divTableRow {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.divTableCell {
  border: 1px solid black;
  text-align: center;
}

.water {
  background: lightblue;
}

.black {
  background: grey;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.25rem;
  color: white;
}

.gridContainer {
  display: grid;
}

.shipPart {
  background: greenyellow;
}

.hitted {
  background: firebrick;
}

.mySalvo {
  background: #b4d455;
}

.sunk {
  background: linear-gradient(to right, transparent 50%, #b4d455 50%);
  background-position: 0;
  background-size: 200%;
  animation: backgroundSlide 3s infinite;
}

@keyframes backgroundSlide {
  50% {
    background-position: -100%;
  }
  100% {
    background-position: -200%;
  }
}