<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Salvo Game</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/game.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-3">
      <a class="navbar-brand" href="/web/games.html">SALVO GAME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <div v-if="currentUser=='Guest'" class="dropdown  ml-auto mr-5">
          <button class="btn btn-info my-2 my-sm-0" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle fa-lg mr-2"></i> LOG IN</button>
          <div id="dropdown-login" class="dropdown-menu dropdown-menu-right">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="user">Email address</label>
                <input type="email" class="form-control" id="user" placeholder="email@example.com" required>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password" required>
              </div>
              <div v-if="signupForm" class="form-group">
                <label for="passConfirmation">Confirm Password</label>
                <input type="password" class="form-control" id="passConfirmation" placeholder="Confirm" required>
              </div>
              <div v-if="!signupForm" class="form-group text-right">
                <button type="button" class="btn btn-success" @click="login(user.value,pass.value)">Log me in</button>
              </div>
              <div v-if="signupForm" class="form-group text-right">
                <button type="button" class="btn btn-warning" @click="signUp(user.value,pass.value,passConfirmation.value)">Sign Up</button>
              </div>
            </form>
            <div class="dropdown-divider"></div>

            <p v-if="signupForm" @click="toggleSignup" class="dropdown-item">Already registered? <span class="text-success">Log In!</span></p>
            <p v-if="!signupForm" @click="toggleSignup" class="dropdown-item">New around here? <span class="text-success">Sign up!</span></p>



          </div>
        </div>

        <div v-if="currentUser!='Guest'" class="dropdown ml-auto mr-5">

          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="logedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-lg mr-2"></i> {{currentUser}} </button>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <div>
              <div class="form-group mx-auto text-center">
                <i class="fas fa-user-circle fa-4x"></i>
              </div>
              <div class="form-group mx-auto text-center">
                <label for="exampleDropdownFormPassword1">Username:</label>
                <p>{{currentUser}}</p>
              </div>

            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-danger mx-auto center" @click="logout">Log out</button>
          </div>
        </div>


      </div>
      <!-- END OF NAVBAR -->
    </nav>
  </div>
  <div id="game">

    <main class="mt-5 container">
      <div class="row mt-1">
        <h1>SALVO!</h1>
        <div class="container col-12">
          <div class="item" id="gp1"></div>
          <div class="item" id="vs"></div>
          <div class="item" id="gp2"></div>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-12 d-flex justify-content-between">
          <div id="myShips" class="divTableBody"></div>
          <div id="mySalvoes" class="divTableBody"></div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <table class="table table-condensed table-hover">
            <caption>You hitted this ships</caption>
            <thead>
              <th>TURN</th>
              <th>HITTED</th>
              <th>SHIPS LEFT</th>
            </thead>
            <tbody>
              <template v-for="turn in turns">
                <tr>
                  <td>{{turn.turn}} </td>
                  <td>
                  

                    <span v-for="hit in turn.hitted">{{hit.shipType}} hitted {{hit.hits}} times <span class="sunk" v-if="hit.sunk"> SUNK!</span>, </span>
                 
                  </td>
                  <td>{{turn.left}} </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>


    </main>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-muted text-center">Salvo Game | Branko Haberkon | &copy; 2019 </span>
      </div>
    </footer>
  </div>

  <script src="js/vue.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/game.js"></script>
</body>

</html>