<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Salvo Game</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.min.css" />
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/game.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-3">
      <a class="navbar-brand" href="/web/games.html">SALVO GAME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <div v-if="currentUser=='Guest'" class="dropdown  ml-auto mr-5">
          <button class="btn btn-info my-2 my-sm-0" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle fa-lg mr-2"></i> LOG IN</button>
          <div id="dropdown-login" class="dropdown-menu dropdown-menu-right">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="user">Email address</label>
                <input type="email" class="form-control" id="user" placeholder="email@example.com" required>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password" required>
              </div>
              <div v-if="signupForm" class="form-group">
                <label for="passConfirmation">Confirm Password</label>
                <input type="password" class="form-control" id="passConfirmation" placeholder="Confirm" required>
              </div>
              <div v-if="!signupForm" class="form-group text-right">
                <button type="button" class="btn btn-success" @click="login(user.value,pass.value)">Log me in</button>
              </div>
              <div v-if="signupForm" class="form-group text-right">
                <button type="button" class="btn btn-warning" @click="signUp(user.value,pass.value,passConfirmation.value)">Sign Up</button>
              </div>
            </form>
            <div class="dropdown-divider"></div>

            <p v-if="signupForm" @click="toggleSignup" class="dropdown-item">Already registered? <span class="text-success">Log In!</span></p>
            <p v-if="!signupForm" @click="toggleSignup" class="dropdown-item">New around here? <span class="text-success">Sign up!</span></p>



          </div>
        </div>

        <div v-if="currentUser!='Guest'" class="dropdown ml-auto mr-5">

          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="logedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-lg mr-2"></i> {{currentUser}} </button>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <div>
              <div class="form-group mx-auto text-center">
                <i class="fas fa-user-circle fa-4x"></i>
              </div>
              <div class="form-group mx-auto text-center">
                <label for="exampleDropdownFormPassword1">Username:</label>
                <p>{{currentUser}}</p>
              </div>

            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-danger mx-auto center" @click="logout">Log out</button>
          </div>
        </div>


      </div>
      <!-- END OF NAVBAR -->
    </nav>
  </div>
  <div id="game">

    <main class="mt-5 container">
      <div class="row mt-1">
        <h1>SALVO!</h1>
        <div class="container col-12">
          <div class="item" id="gp1"></div>
          <div class="item" id="vs"></div>
          <div class="item" id="gp2"></div>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-12 d-flex justify-content-between">
          <div id="myShips" class="divTableBody"></div>
          <div id="mySalvoes" class="divTableBody"></div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="placeShipsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="placeShipsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="placeShipsModalLabel">Place your ships! &#x1F6A2; </h5>
            </div>
            <div class="modal-body">
              <div class="grid-stack">
                <div class="grid-stack-item border" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="1">
                  <div class="grid-stack-item-content">my first widget</div>
                </div>
                <div class="grid-stack-item border" data-gs-x="4" data-gs-y="0" data-gs-width="3" data-gs-height="1">
                  <div class="grid-stack-item-content">another widget!</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button @click="main.goto('games.html')" type="button" class="btn btn-outline-secondary">Fall back <i class="fas fa-peace"></i> </button>
              <button type="button" class="btn btn-success">Prepare for battle! <i class="fas fa-bomb"></i></button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="wonModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="placeShipsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title" id="placeShipsModalLabel">CONGRATULATIONS! &#x1F451; </h5>

            </div>
            <div class="modal-body text-center">

              <p><i class="fas fa-medal text-warning"></i> YOU HAVE WON THIS GAME! <i class="fas fa-medal text-warning"></i> </p>
              <p>Go back and create another game</p>
            </div>
            <div class="modal-footer">
              <button @click="main.goto('games.html')" type="button" class="btn btn-outline-success">Regroup to Main menu <i class="fas fa-compress-arrows-alt"></i> </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="lostModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="placeShipsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title" id="placeShipsModalLabel">TEAM, FALL BACK! &#x1F525; </h5>
            </div>
            <div class="modal-body text-center">

              <p><i class="fas fa-skull-crossbones text-danger"></i> The opponent was too fierce... We lost our battle. <i class="fas fa-skull-crossbones text-danger"></i></p>
              <p>Go back and create another game</p>

              <blockquote class="blockquote">
                <p class="mb-0">"We'll get'em next time."</p>
                <footer class="blockquote-footer">Cpt. Price <cite title="Source Title">COD MW</cite></footer>
              </blockquote>


            </div>
            <div class="modal-footer">
              <button @click="main.goto('games.html')" type="button" class="btn btn-outline-success">Regroup to Main menu <i class="fas fa-compress-arrows-alt"></i> </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="tieModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="placeShipsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title" id="placeShipsModalLabel"> REGROUP AND STRIKE AGAIN &#x1F3E5; </h5>
            </div>
            <div class="modal-body text-center">

              <p><i class="fas fa-user-injured text-primary"></i></i> The opponent was too fierce... </p>
              <p>Go back and create another game</p>

              <blockquote class="blockquote">
                <p class="mb-0">"Can we call it a 'Phyrric victory'?"</p>
                <footer class="blockquote-footer">Squee, Goblin King <cite title="Source Title">Magic: The Gathering</cite></footer>
              </blockquote>
            </div>
            <div class="modal-footer">
              <button @click="main.goto('games.html')" type="button" class="btn btn-outline-success">Regroup to Main menu <i class="fas fa-compress-arrows-alt"></i> </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <table class="table table-condensed table-hover">
            <caption>You hitted this ships</caption>
            <thead>
              <th>TURN</th>
              <th>HITTED</th>
              <th>SHIPS LEFT</th>
            </thead>
            <tbody>
              <template v-for="turn in turns">
                <tr>
                  <td>{{turn.turn}} </td>
                  <td>
                  
                    <span v-for="hit in turn.hitted">{{hit.shipType}} hitted {{hit.hits}} times <span class="sunk" v-if="hit.sunk"> SUNK!</span>, </span>
                 
                  </td>
                  <td>{{turn.left}} </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>


    </main>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-muted text-center">Salvo Game | Branko Haberkon | &copy; 2019 </span>
      </div>
    </footer>
  </div>

  <script src="js/vue.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.all.js"></script>
  <script src="js/main.js"></script>
  <script src="js/game.js"></script>

</body>

</html>