<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <title>Salvo Game</title>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-3">

      <a class="navbar-brand" href="/web/games.html">SALVO GAME</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <div v-if="currentUser=='Guest'" class="dropdown  ml-auto mr-5">
          <button class="btn btn-info my-2 my-sm-0" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle fa-lg mr-2"></i> LOG IN</button>
          <div id="dropdown-login" class="dropdown-menu dropdown-menu-right">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="user">Email address</label>
                <input type="email" class="form-control" id="user" placeholder="email@example.com" required>
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password" required>
              </div>
              <div v-if="signupForm" class="form-group">
                <label for="passConfirmation">Confirm Password</label>
                <input type="password" class="form-control" id="passConfirmation" placeholder="Confirm" required>
              </div>
              <div v-if="!signupForm" class="form-group text-right">
                <button type="button" class="btn btn-success" @click="login(user.value,pass.value)">Log me in</button>
              </div>
              <div v-if="signupForm" class="form-group text-right">
                <button type="button" class="btn btn-warning" @click="signUp(user.value,pass.value,passConfirmation.value)">Sign Up</button>
              </div>
            </form>
            <div class="dropdown-divider"></div>

            <p v-if="signupForm" @click="toggleSignup" class="dropdown-item">Already registered? <span class="text-success">Log In!</span></p>
            <p v-if="!signupForm" @click="toggleSignup" class="dropdown-item">New around here? <span class="text-success">Sign up!</span></p>



          </div>
        </div>

        <div v-if="currentUser!='Guest'" class="dropdown justify-content-end ml-auto mr-5">
          <button @click="createGame" v-if="currentUser!='Guest'" class="btn btn-warning my-2 my-sm-0 ml-auto" type="button" id="createGame"><i class="fas fa-gamepad fa-lg mr-2"></i> Create Game</button>
          <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="button" id="logedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-lg mr-2"></i> {{currentUser}} </button>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <div>
              <div class="form-group mx-auto text-center">
                <i class="fas fa-user-circle fa-4x"></i>
              </div>
              <div class="form-group mx-auto text-center">
                <label for="exampleDropdownFormPassword1">Username:</label>
                <p>{{currentUser}}</p>
              </div>

            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-danger mx-auto center" @click="logout">Log out</button>
          </div>
        </div>
      </div>

      <!-- END OF NAVBAR -->
    </nav>
    <main class="container-fluid d-flex justify-content-between col-9 p-5 mt-3">

      <div class="col-5">
        <ol class="list-group list-group-flush">
          <template v-for='game in gamesList.games'>
            
            <li class="list-group-item">
                <p>
                  Juego creado: {{formatDate(game.created)}} 
                </p> 
                <p>              
              Jugadores: <span v-for='player in game.players'> {{player.name}}, </span>
            </p>
            <button v-show="joinButton(game)" @click="joinGame(game.id)" class="btn btn-outline-warning">JOIN GAME</button>
            <button v-show="reEnterButton(game)" @click="enterGame(game.id)" class="btn btn-outline-success">Back to game</button>
          </li>
        </template>
        </ol>
      </div>
      <div class="col-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <th>PLAYER</th>
            <th>TOTAL SCORE</th>
            <th>WINS</th>
            <th>TIES</th>
            <th>LOSES</th>
          </thead>
          <tbody class="">
            <tr v-for="player in leaderboard.players">
              <td> {{player.name}}</td>
              <td> {{player.total}}</td>
              <td> {{player.wins}}</td>
              <td> {{player.draws}}</td>
              <td> {{player.losses}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-muted text-center">Salvo Game | Branko Haberkon | &copy; 2019 </span>
      </div>
    </footer>
    <!-- END OF APP -->
  </div>

  <script src="js/vue.min.js"></script>
  <script src="js/jquery-3.4.1.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>