.divTableBody {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.divTableRow {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.divTableCell {
  border: 1px solid black;
  text-align: center;
}

.water {
  background: lightblue;
}

.black {
  background: grey;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.25rem;
  color: white;
}

.container {
  display: grid;
}

.shipPart {
  background: greenyellow;
}

.hitted {
  background: firebrick;
}

.mySalvo {
  background: #b4d455;
}